
 /* Main Section */
 .price-plan-section {
 
  width: 100%;
  min-height:1100px;  
  
  background-color:#d5d5d2;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}
.price-plan-section h2 {
  font-size: 38px;
  font-weight: bold;
  margin-top: 20px;
  color: #176399;
}
.price-plan-para {
  font-size: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  color: #FFB400;
  margin-top: 30px;
}

/* Pricing Plans Container */
   .plans {
  width:80%;
  height:800px; 
  margin-top:80px;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
   align-items: center;
    background-color:#d5d5d2;
 }  
.plan1{
  width: 30%;
  min-height:700px;
  border: 2px solid #176399;
  background-color: #ffff;
}

/* Rate Text Styling */
.rate {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color:#176399;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
}


/* Individual Plan Styling */
.plan1 h3 {
  margin-top: 20px;
color:#176399;
  font-size:40px;
  font-weight: 600;
  padding: 10px;
}

/* Plan Description */
.plan1 p {
  color:#FFB400;
  font-size:25px;
}
.plan1 ul{
  text-decoration: none;
}
.plan1 li{
  font-size:20px;
  list-style-type: none;
  height:50px;
  color:#176399;

}
.bttn{
  width:200px;
  height:70px;
  background-color: #FFB400;
  color: #176399;
  font-size:22px;
  font-weight: bolder;
  border-radius:30px;
  border: 2px solid #176399;
}
@media screen and (min-width: 266px) and (max-width: 666px){

  .price-plan-section{
    
    height:2500px;
     display: flex;
     flex-direction:column;
     flex-wrap: wrap;
     align-items:center;
     justify-content: flex-start;
     
     
     
    
    
  }
       .price-plan-section h2{
       width:100%;
           font-size: 42px; 
  }
     .price-plan-para {
    width:80% ;
    font-size: 30px;
 
  }
    .plans {
      width:90%;
      height: auto;
      display: flex;
       flex-direction:row;
     flex-wrap: wrap;
    justify-content:space-evenly;
    gap:30px;
   
    
    }
    .plan1{
      width:100%;
          display: flex;
      flex-direction:column;
          flex-wrap: wrap;
      align-items: center;
     
    }
     .plan1 h3{
      width:100%;
      font-size:42px;
    }
    
        .plan1 p{
       width:70%;
        font-size:30px;
      
    }
      .rate{
        width:80%;
      font-size:30px;
    }
    .bttn{
      width: 65%;
    }

}


 @media (min-width: 667px) and (max-width: 940px) {
  .price-plan-section {
      padding: 15px;
  }

  .plans {
      width:96%;  
      min-height:700px;  

  }
  .price-plan-para {
    width:80% ;
    font-size: 30px;
 
  }

  .plan1 h3 {
      font-size: 16px;  
  }
   .plan1 h3 {
      font-size: 16px;  
   }

  .rate {
      font-size: 14px; 
  }
  .bttn{
    width: 150px;
  
  }
} 